body,
html {
  width: 100%;
  height: 100%;
  background-color: #fff2e6;
}

body {
  font-family: Arial, sans-serif;
}

hr.light {
  border-color: white;
}

a {
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, sans-serif;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

section {
  padding: 100px 0;
}

header.masthead .header-content {
  position: relative;
  width: 100%;
  margin-top: -50px;
  padding: 150px 15px 100px;
  text-align: center;
}
header.masthead .header-content .header-content-inner h1 {
  font-size: 30px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
}
header.masthead .header-content .header-content-inner hr {
  margin: 30px auto;
}
header.masthead .header-content .header-content-inner p {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 50px;
  color: rgba(255, 255, 255, 0.7);
}
@media (min-width: 768px) {
  header.masthead {
    height: 100%;
    min-height: 600px;
  }
  header.masthead .header-content {
    position: absolute;
    top: 60%;
    padding: 0 50px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  header.masthead .header-content .header-content-inner {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
  }
  header.masthead .header-content .header-content-inner h1 {
    font-size: 50px;
  }
  header.masthead .header-content .header-content-inner p {
    font-size: 18px;
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 992px) {
  .service-box {
    margin: 20px auto 0;
  }
}
.service-box p {
  margin-bottom: 0;
}

.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
}
.portfolio-box .portfolio-box-caption {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  color: white;
  background: rgba(216, 198, 185, 0.9);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
}
.portfolio-box
  .portfolio-box-caption
  .portfolio-box-caption-content
  .project-category,
.portfolio-box
  .portfolio-box-caption
  .portfolio-box-caption-content
  .project-name {
  padding: 0 15px;
  font-family: Arial, sans-serif;
}
.portfolio-box
  .portfolio-box-caption
  .portfolio-box-caption-content
  .project-category {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
.portfolio-box
  .portfolio-box-caption
  .portfolio-box-caption-content
  .project-name {
  font-size: 30px;
}
.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}
.portfolio-box:focus {
  outline: none;
}
@media (min-width: 768px) {
  .portfolio-box
    .portfolio-box-caption
    .portfolio-box-caption-content
    .project-category {
    font-size: 18px;
  }
  .portfolio-box
    .portfolio-box-caption
    .portfolio-box-caption-content
    .project-name {
    font-size: 30px;
  }
}

.no-gutter > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
}

.btn-xl {
  padding: 15px 30px;
}

.title-font {
  font-size: 30px;
  color: black;
  font-family: "Helvetica Neue" sans-serif;
  text-transform: uppercase;
  line-height: 40px;
}

.title-font-head {
  font-size: 50px;
  color: black;
  font-family: "Helvetica Neue" sans-serif;
  text-transform: uppercase;
  line-height: 40px;
}

.header-image img {
  border-radius: 50%;
}

.headText {
  font-size: 8vw;
  color: black;
  margin-bottom: 0.3em;
  padding-left: 10px;
  text-align: center;
}

.aboutImgBox {
  width: 450px;
}

.imgFill {
  width: 100%;
}

.centerGallery {
  justify-content: center;
}

.formText {
  color: black;
  font-size: 25px;
  margin-top: -1%;
}

.footer {
  color: white;
  background-color: black;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 12px;
}

.footer a {
  color: white;
}

footer ul li {
  display: inline-block;
  padding: 0 0.7em 0 0;
  margin: 0;
}

.project-desc {
  padding: 0px 20px 0px 20px;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 12px;
  line-height: 17px;
}

#emailTag {
  width: 500px;
}

input,
textarea {
  background-color: #fcf2ec;
  color: black;
  border-color: #aca39c;
}

.vertical-align {
  vertical-align: middle;
  height: 568px;
  padding: 8.5em 0em 0em 0em;
}
